@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'League Spartan', sans-serif;
    background-image: url('images/bg-pattern-top-desktop.svg');
    background-repeat:no-repeat ;
    background-color:white;

}

body {
    width: 90%;
    height: 90%;
    
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0);

}

.upper {
    display: flex;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);

}

.title {
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    width: 380px;
    color: hsl(300, 43%, 22%);
}

.title h1 {
    font-size: 40px;
}

.title p {
    color: hsl(303, 10%, 53%);
}

.stars {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: flex-end;
    width: 640px;
    gap: 10px;
}

.sta1 {
    width: 350px;
    margin-right: 200px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;

}

.sta2 {
    width: 400px;
    margin-right: 60px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;

}

.sta3 {
    width: 350px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    text-align: center;
}

.bottom {
    height: 50%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 30px;

}

.bottom h1 {
    font-size: 20px;
    margin-left: 3.5rem;

}

.bottom h2 {
    font-size: 20px;
    color: hsl(333, 80%, 67%);
}

.col {
    background-color: hsl(300, 43%, 22%);
    height: 175px;
    width: 320px;
    margin-left: 3.5rem;
    border-radius: 7px;
    margin-bottom: 6rem;

}

.mtitle1 {
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 2px;

}

.name h1 {
    margin-left: 0px;
    color: white;
    margin-bottom: 2px;
    font-size: 14px;
}

.name h2 {
    margin-top: 2px;
    font-size: 14px;
}

.mtitle1 img {
    border-radius: 50px;
    margin-left: 5px;
    scale: 40%;
}

.col p {
    text-align: start;
    margin-left: 25px;
    color: white;
    margin-top: 0px;
}

.ire {
    background-color: hsl(300, 43%, 22%);
    height: 175px;
    width: 320px;
    border-radius: 7px;
    margin-bottom: 65px;
}

.ire p {
    text-align: start;
    margin-left: 25px;
    color: white;
    margin-top: 0px;
}

.ane {
    background-color: hsl(300, 43%, 22%);
    height: 175px;
    width: 320px;
    border-radius: 7px;
    margin-bottom: 30px;
}

.ane p {
    text-align: start;
    margin-left: 25px;
    color: white;
    margin-top: 0px;
}

@media (max-width:600px) {
    html {
        flex-direction: column;
        background-image: url('images/bg-pattern-top-mobile.svg');
    }

    main {
        align-items: center;
    }

    .upper {
        flex-direction: column;
        align-items: center;

    }

    .title {
        margin-left: 10px;
    }

    .stars {
        margin-top: 0px;
        align-items: center;
        margin-right: 20px;
    }

    .sta1 {
        margin: 0;
    }

    .sta2 {
        margin-left: 6.8rem;
    }

    .sta3 {
        margin: 0px;
    }

    .bottom {
        flex-direction: column;
        gap: 10px;
        margin: 10px 45px 0px 0px;
        align-items: center;
    }

    .col {
        margin: 5px;
    }

    .ire {
        margin: 5px;
    }

    .ane {
        margin: 5px;
    }
}